VITE_API_URL=https://foodorderapp-api-production.up.railway.app

VITE_API_DATES_MAIN_ROUTER=/getDate


VITE_API_ORDERS_MAIN_ROUTER=/main-route-orders
VITE_API_ORDERS_BY_USER_ROUTER=/main-route-orders/get-order-user
VITE_API_ORDERS_ID_ROUTER=/main-route-orders
VITE_API_ORDERS_FILTER_BY_DATE_ROUTER=/main-route-orders/filter-order-by-date
VITE_API_ORDERS_FILTER_ROUTER=/main-route-orders/filter-orders
VITE_API_ORDERS_DAILY_STATS_ROUTER=/main-route-orders/get-daily-orders
VITE_API_ORDERS_MONTHLY_STATS_ROUTER=/main-route-orders/get-monthly-orders
VITE_API_ORDERS_ALL_MONTHLY_STATS_ROUTER=/main-route-orders/get-all-monthly-orders
VITE_API_ORDERS_PUT_ROUTER=/main-route-orders/config-put-order
VITE_API_ORDERS_PUT_ARRAY_ROUTER=/main-route-orders/config-put-array-orders
VITE_API_ORDERS_POST_ROUTER=/main-route-orders/add-register-order
VITE_API_ORDERS_DELETE_ROUTER=/main-route-orders/delete-order

VITE_API_PRODUCTS_MAIN_ROUTER=/main-route-productos
VITE_API_PRODUCTS_ID_ROUTER=/:productID
VITE_API_PRODUCTS_PUT_ROUTER=/main-route-productos/config-products
VITE_API_PRODUCTS_PRICE_PUT_ROUTER=/main-route-productos/update-products-prices
VITE_API_PRODUCTS_POST_ROUTER=/main-route-productos/register-product
VITE_API_PRODUCTS_DELETE_ROUTER=/main-route-productos/delete-product

VITE_API_CATEGORY_MAIN_ROUTER=/main-route-category
VITE_API_CATEGORY_ID_ROUTER=/:categoryID
VITE_API_CATEGORY_PUT_ROUTER=/main-route-category/config-put-category
VITE_API_CATEGORY_PUT_POSITION_ROUTER=/main-route-category/config-put-category-position
VITE_API_CATEGORY_POST_ROUTER=/main-route-category/add-register-category
VITE_API_CATEGORY_DELETE_ROUTER=/main-route-category/delete-category

VITE_API_USERS_MAIN_ROUTER=/main-route-users
VITE_API_GET_USERS_CLIENTS_ROUTER=/main-route-users/get-clients
VITE_API_USERS_PUT_ROUTER=/main-route-users/config-put-users
VITE_API_USERS_PUT_PASS_ROUTER=/main-route-users/update-password-user
VITE_API_USERS_PUT_PASS_ADMIN_ROUTER=/main-route-users/update-password-admin
VITE_API_USERS_POST_REGISTER_ROUTER=/main-route-users/add-register-user
VITE_API_USERS_POST_LOGIN_ROUTER=/main-route-users/log-in-user
VITE_API_USERS_POST_RESTORE_PASS_ROUTER=/main-route-users/restore-password
VITE_API_USERS_DELETE_ROUTER=/main-route-users/delete-user

VITE_API_POINTS_USER_MAIN_ROUTER=/main-route-points
VITE_API_POINTS_USER_ADD_ROUTER=/main-route-points/add-user-points
VITE_API_POINTS_USER_REMOVE_ROUTER=/main-route-points/remove-user-points

VITE_API_RIDERS_MAIN_ROUTER=/main-route-riders
VITE_API_RIDERS_GET_BY_RESTAURANT_ROUTER=/main-route-riders/get-riders-restaurant
VITE_API_RIDERS_POST_CREATE_ROUTER=/main-route-riders/create-rider
VITE_API_RIDERS_PUT_UPDATE_ROUTER=/main-route-riders/update-rider
VITE_API_RIDERS_PUT_ADD_ORDER_ROUTER=/main-route-riders/add-rider-to-order
VITE_API_RIDERS_PUT_ADJUSTMENT_DELIVERY_ROUTER=/main-route-riders/adjustment-delivery
VITE_API_RIDERS_DAILY_STATS_ROUTER=/main-route-riders/get-daily-riders-stats
VITE_API_RIDERS_ALL_STATS_ROUTER=/main-route-riders/get-all-riders-stats

VITE_API_CUSTOM_OPTION_MAIN_ROUTER=/main-route-customoption
VITE_API_CUSTOM_OPTION_GET_ROUTER=/main-route-customoption/get-customoption
VITE_API_CUSTOM_OPTION_POST_ROUTER=/main-route-customoption/add-customoption
VITE_API_CUSTOM_OPTION_PUT_ROUTER=/main-route-customoption/update-customoption
VITE_API_CUSTOM_OPTION_PUT_PRODUCTS_ROUTER=/main-route-customoption/update-customoption/assign-products
VITE_API_CUSTOM_OPTION_DELETE_ROUTER=/main-route-customoption/delete-customoption
